<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h4>Collections</h4>
            </div>
        </div>
        <% if @collections.length == 0 %>
            <div class="row">
                <div class="col">
                    <h4>No collections are present</h4>
                </div>
            </div>
        <% end %>

        <% @collections.each do |collection| %>
            <div class="row">
                <div class="col-md-10">
                    <h4><%= link_to(collection.name, user_collection_path(current_user, collection)) %> (<%= collection.cards_collections.pluck(:amount).reduce(:+) %>)</h4>
                    <h4>Last Updated: <%= collection.updated_at%> </h4>
                </div>
                
                <div class="col-md-2">
                    <%= form_tag(user_collection_path(current_user, collection), method: "DELETE") do %>
                    <div><%= submit_tag 'DELETE', class: "btn btn-sm btn-danger btn-block" %></div>
                <% end %>
                </div>
            </div>
        <% end %>

        <div class="row">
            <div class="col">        
                <%= form_tag('collections/new', method: "GET") do %>
                    <div><%= submit_tag 'New', class: "btn btn-lg btn-success btn-block" %></div>
                <% end %>
            </div>
        </div>
    </div>
</div>