<div class="row">
    <div class="col">
        <b><span><i class='fa fa-comment'></i><%= commentable.comments.count %></span><span> Comments</span></b>
        <hr>
        <% commentable.comments.each do |comment| %>
            <div>
                <h5>
                    <span><%= link_to(comment.user.username, user_path(comment.user)) %></span>
                    <span class="pull-right"><%= comment.created_at.strftime("%B %d, %Y") %><span>
                </h5>
                <div><%= comment.body %></div>
            </div>
        <% end %>
    </div>
</div>

<%= render partial: "comments/form", locals: {commentable: commentable} %>
