<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="<%= home_path %>">FoW Tutor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= decklists_path %>">Decklists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= cards_path %>">Cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= deckbuilder_path %>">Deckbuilder</a>
      </li>
      <% if !current_user %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>">Register/Sign In</a>
        </li>
      <% end %>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <%# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> %>
    </form>

    <% if current_user %>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class='fa fa-user'></i> <%= current_user.username %>
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= user_path(current_user) %>">Profile</a>
            <a class="dropdown-item" href="<%= user_collections_path(current_user) %>">Collections</a>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>  
          </div>
        </li>
      </ul>
    <% end %>
  </div>
  </div>
</nav>