<div class="deck-card">
    <div class="deck-title text-nowrap media <%= ("bg-" + decklist.j_ruler.card_attribute.downcase.gsub("/","-") + "-attribute") if decklist.j_ruler  %>">
        <div class="media-body">
            <div class="media-left">
            </div>

            <h4 class="media-heading"><%= link_to decklist.name, decklist_path(decklist) %></h4>
        </div>
    </div>

    <div class="row deck-info" style="margin-bottom: 15px;">
        <div class="col-md-12">
            <%= render "decklists/social_statistics", decklist: decklist %>
            
            <div class="thumbnail pull-left">
                <% if decklist.j_ruler.image_exists?(decklist.j_ruler.thumbnail_path) %>
                    <%= image_tag(decklist.j_ruler.thumbnail_path) %>  
                <% else %>
                    <a href="https://placeholder.com"><img src="http://via.placeholder.com/140x80"></a>
                <% end %>
            </div>

            <div class="ruler-names text-truncate <%= "color-" + decklist.j_ruler.card_attribute.downcase.gsub("/","-") + "-attribute" if decklist.j_ruler %>">
                <% if decklist.j_ruler %>
                    <h5><%= link_to decklist.j_ruler.name, card_path(decklist.j_ruler) %></h5>
                <% else %>
                    <h5><%= link_to "No J-Ruler Found", "#" %></h5>
                <% end %>

                <% if decklist.ruler %>
                    <%= link_to decklist.ruler.name, card_path(decklist.ruler) %>
                <% else %>
                    <%= link_to "No Ruler Found", "#" %>
                <% end %>
            </div>
        
            <div class="author small pull-right">
                <span>by <%= link_to decklist.user.username, user_path(decklist.user) %> - <%= time_ago_in_words(decklist.created_at) %> ago</span>
            </div>
        </div>
    </div>
</div>