<div class="row">
    <div class="col">
        <div>
            <h2>FoW Tutor</h2>
            <h4>Your Resource for Force of Will</h4>
        </div>

        <div>
            <% if current_user %>
                <h4>Welcome, <%= current_user.username %></h4>
            <% else %>
                <button><%= link_to("Register", new_user_registration_path) %></button>
                <button><%= link_to("Log In", new_user_session_path) %></button>
            <% end %>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <h4>Most Recent Decks</h4>
        <hr>
        <% @five_most_recent_decks.each do |deck| %>
            <div class="row">
                <div class="col"><%= link_to(deck.name, decklist_path(deck)) %></div>
                <div class="col"><%= link_to(deck.user.username, user_path(deck.user)) %></div>
            </div>
        <% end %>
        
    </div>

    <div class="col">
        <hr>
        <h4>Most Viewed Decks</h4>
        <hr>
        <% @five_most_viewed_decks.each do |deck| %>
            <div class="row">
                <div class="col"><%= link_to(deck.name, decklist_path(deck)) %></div>
                <div class="col"><%= link_to(deck.user.username, user_path(deck.user)) %></div>
            </div>
        <% end %>
    </div>

    <div class="col">
        <hr>
        <h4>Top Decks</h4>
        <hr>
        <% @five_top_decks.each do |deck| %>
            <div class="row">
                <div class="col"><%= link_to(deck.name, decklist_path(deck)) %></div>
                <div class="col"><%= link_to(deck.user.username, user_path(deck.user)) %></div>
            </div>
        <% end %>
    </div>
</div>

