<div class="row">
    <div class="col deck">
        <% card_count = 0 %>
        
        <% if cards %>
            <% card_count = cards.inject(0) {|sum, card| sum + card[1][0]} %>
        <% end %>
        <hr>
            <h4><%= deck_name %>(<%= card_count %>)</h4>
        <hr>

        <div id="<%= deck_name.downcase + "-deck" %>">
            <% if cards %>
                <% cards.each do |name, amount_and_ids| %>
                    <% card_name = name.downcase.gsub(" ", "-").gsub("'", "").gsub(",","") %>
                    <div>
                        <button type='button' class='btn btn-default decklist-remove-card'><i class='fa fa-times'></i></button>
                        <span id="<%= card_name %>"><%= "#{amount_and_ids[0]}x #{name}"%></span>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
