<% decklists.each do |decklist| %>
    <div class="deck-card">
        <div class="row deck-info">
            <div class="col-md-12">
                <div class="statistics small pull-right">
                    <% if current_user %>
                        <div id="<%= dom_id(decklist) %>"><%= render partial: "hearts/button", locals: { decklist: decklist } %></div>

                        <% unless current_user.favorite_decklists.exists?(id: decklist.id) %>
                            <%= link_to decklist.favorites.length, favorite_decklists_path(decklist_id: decklist.id), method: :post %>
                        <% else %>
                            <%= link_to decklist.favorites.length, favorite_decklist_path(decklist), method: :delete %>
                        <% end %>
                    <% else %>
                        <i class='fa fa-heart'></i> <%= decklist.hearts.count %>
                        <i class='fa fa-star'></i> <%= decklist.favorites.count %>
                        <i class='fa fa-comment'></i> <%= decklist.comments.count %>
                    <% end %>
                </div>
                
                <div class="thumbnail pull-left">
                    <a href="https://placeholder.com"><img src="http://via.placeholder.com/140x80"></a>
                </div>

                <div class="deck-name text-truncate">
                    <h4><%= link_to(decklist.name, decklist_path(decklist)) %></h4>
                </div>
            
                <div class="author small">
                    <span>by <%= link_to decklist.user.username, user_path(decklist.user) %> - <%= time_ago_in_words(decklist.created_at) %> ago</span>
                </div>
            </div>
        </div>
    </div>
<% end %>


