<div class="row">
    <div class="col">
        <h2>Editing: <%= @decklist.name%></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <%= render "decklists/deck_display", decklist: @decklist, cards: @decklist_cards %>

        <% if current_user.id == @decklist.user.id %>
            <%= render "decklists/form", decklist: @decklist, value: "Update Decklist" %>
        <% else %>

        <% end %>
    </div>

    <div class="col-md-7">
        <% if current_user.id == @decklist.user.id %>
            <%= render "cards/mini_list" %>
        <% end %>

        <%= render "tags/form", target: @decklist %>
    </div>
</div>