<div class="container">
    <div class="row">
        <div class="col">
            <h2>Create a New Decklist</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <%= render "decklists/deck_div", deck_name: "Ruler" %>

            <%= render "decklists/deck_div", deck_name: "Main Deck" %>

            <%= render "decklists/deck_div", deck_name: "Stone Deck" %>

            <%= render "decklists/deck_div", deck_name: "Side Deck" %>

            <%= render "decklists/form", decklist: @decklist %>
        </div>

        <div class="col-md-7">
            <%= render "cards/mini_list", cards: @cards %>
        </div>
    </div>
</div>