<%= render "decklists/header", decklist: @decklist, cards_needed: @cards_needed %>

<div class="row">
    <div class="col-md-12">
        <% if @decklist.decks.length != 0 %>
            <h4>
                <% @ruler_deck.cards.each do |card| %>
                    <%= link_to(card.name, card_path(card)) %> <br> 
                <% end %>
            </h4>
        <% end %>
    </div>
</div>

<div class="row">
    <%= render "decklists/card_breakdown", decklist: @decklist, decks: @decks %>

    <div class="col-md-4">
        <%= @decklist.user.username %>
        <hr>
        <%= @decklist.description %>

        <%= render "tags/decklist_list", decklist: @decklist %>
    </div>
</div>

<%= render "comments/comments", commentable: @decklist %>