<!DOCTYPE html>
<html>
  <head>
    <title>Fowtutor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Amiri:400,400italic,700,700italic|Julius+Sans+One|Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:300" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <div id="wrapper">
      <div class="container main">
        <% flash.each do |name, message| %>
          <%= content_tag :div, raw(message), id: "flash_#{name}" %>
        <% end %>

        
        <%= yield %>
        
      </div>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
